<h3 style="text-align: center; margin-top: 20px; color: grey">
  Welcome to Devops Training!!
</h3>
<div style="font-family:roboto; font-size: 15px; margin-top: 20px; color: grey">
  <u>Technology Used</u><br/>
<ul>
    <li>SpringBoot - Application framework
    <li>Zuul - API Gateway (Load Balancer)
    <li>Consul - Service registration and Discovery
    <li>Docker - Containerization platform
    <li>RabbitMQ - asynchronous microservices messaging.
    <li>Logstash - Log collector
    <li>Elasticsearch - Log indexer
    <li>Kibana - Data visualization
    <li>Angular - HTML enhanced for web apps!
    <li>Bootstrap - great UI boilerplate for modern web apps
    <li>jQuery - HTML document traversal and manipulation
    <li>Swagger - API 
  </ul>
</div>
